<div class="create-product">
    <div class="title">
        <h2>Creación de producto</h2>
        <hr>
    </div>
  <form #productForm="ngForm" ngNativeValidate (ngSubmit)="register(productForm)">

    <div class="detail name">
      <label for="name">Nombre</label>
      <input type="text" name="name" required maxlength="100" [(ngModel)]=""/>
    </div>

    <div class="detail description">
        <label for="description">Descripción</label>
        <input type="text" name="description" required maxlength="100" [(ngModel)]=""/>
    </div>

    <div class="detail price">
      <label for="price">Precio</label>
      <input type="number" name="price" required maxlength="150" [(ngModel)]=""/>
    </div>

    <div class="detail stock">
      <label for="stock">Unidades</label>
      <input type="number" name="stock" required maxlength="100" [(ngModel)]=""/>
    </div>

    <div class="detail image">
      <label for="image">Imagen</label>
      <input type="file" id="image" name="image" accept="image/png, image/jpeg" required>
    </div>

    <div class="detail categories">
      <label for="categories">Categoria</label>
      <select>
        <option value="0" selected>Seleccione una categoría</option>
        <option [value]="i+1" *ngFor="let item of categories; index as i ">{{item}}</option>
      </select>
    </div>

    <button type="submit">Registrarse</button>
  </form>
</div>
