<div id="cart-page">
  <div class="app-container">
    <div class="title-section">
      <h3>Carrito</h3>
    </div>
    <div class="ProductsPageContentError" *ngIf="products.length == 0">
      <h3>¡NO SE HAN AGREGADO PRODUCTOS EN ESTE MOMENTO!</h3>
      <p>¡Agrega los productos al carrito y compra!</p>
    </div>

    <div class="ProductsPageContent" *ngIf="products.length > 0">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Imagen</th>
            <th scope="col">Nombre</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <th scope="row" data-label="id">{{ product.id }}</th>
            <td data-label="images"><img src="{{product.images[0]}}" alt="foto"/></td>
            <td data-label="name">{{ product.name }}</td>
            <td data-label="name">{{ product.count }}</td>
            <td>
              <button class="btn btn-danger" (click)="remove(product)"><i class="fa-solid fa-trash-can"></i> ELIMINAR</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>