.create-product {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  gap: 1em;
  border-radius: 10px;
}

.title {
  display: flex;
  align-items: center;
  padding: 2em;
  background-color: #edebff;
  width: 100%;
}

h2 {
  font-size: 40px;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}


.bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.detail-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detail-right {
  display: flex;
  flex-direction: column;
}

.detail.image {
  flex: 1;
}

input[type="file"] {
  height: 100%;
  display: none;

}

.upload:hover {
  cursor: pointer;
}

.upload {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 1px solid #b271ce;
  border-radius: 7px;
}

.upload img{
  align-self: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 7px;
}

.upload i{
  font-size: 10em;
  color: #b271ce;
}


ng-select:hover {
  cursor: pointer;
}


