<div class="app-container">
    <div class="create">
        <button type="button" class="btn btn-success" routerLink="/profile/products/create" ><i class="fa-solid fa-plus"></i> Crear Producto</button>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Imagen</th>
         
          <th scope="col">Nombre</th>
          <th scope="col">Descripción</th>
          <th scope="col">Precio</th>
          <th scope="col">Unidades</th>
          
          <th scope="col">Categorías</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <th scope="row" data-label="id">{{ product.id }}</th>
          <td data-label="images"><img src="{{product.images[0]}}" alt="foto"/></td>
          <td data-label="name">{{ product.name }}</td>
          <td data-label="description">{{ product.description }}</td>
          <td data-label="price">{{ product.price }}</td>
          <td data-label="stock">{{ product.stock }}</td>
          <td data-label="categories"><p *ngFor="let category of product.categories">{{category}}</p></td>
          <td class="btn-group">
            <button class="btn btn-primary" routerLink="/editProduct/{{product.id}}"><i class="fa-solid fa-pen"></i></button>
            <button class="btn btn-danger" (click)="delete(product)"><i class="fa-solid fa-trash-can"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
