<div class="app-container top">
  <div class="product">
    <div class="product-photo">
      <img [src]="product.images[0]" alt="foto" />
      <ng-container *ngIf="isUserLogged">
        <button class="product-favorite" (click)="addToFavorite()">
          <ng-container *ngIf="product.favorite">
            <i class="fa-solid fa-star fa-3x"></i>
            
          </ng-container>
          <ng-container *ngIf="!product.favorite">
            <i class="fa-regular fa-star fa-3x"></i>
          </ng-container>
        </button>
      </ng-container>
    </div>
    <div class="details">
      
      <div class="product-info">
        <div class="product-title">
          <h1>{{ product.name }}</h1>
          <p class="product-price">${{ product.price }}</p>
        </div>
  
        <p class="product-detail"><span>Descripción:</span></p>
        <p>{{ product.description }} </p>
  
        <p class="product-detail"><span>Stock:</span></p>
        <p>{{product.stock}}</p>
      </div>

      <ng-container *ngIf="isUserLogged">
        <div class="product-card">
          <form class="product-form-card" (submit)="addToCart($event)">
            <input name="count" type="number" max="20" min="1" value="1"/>
            <button class="btn-submit" type="submit">Agregar al Carrito</button>
          </form>
  
          <button routerLink="/cart" class="btn-submit" name="buy">Comprar ahora</button>
        </div>
      </ng-container>

      

    </div>
  </div>
</div>
