<div class="container">
  <div class="title">
    <img src="" alt="Foto" />
    <h2>Cocina</h2>
  </div>
  <div class="category-list">

      <div class="product-card" (click)="getProductView()">
        <img src="" alt="foto" />
        <hr />
        <p>Product</p>
        <h3>$240000</h3>
      </div>
      <div class="product-card">
        <img src="" alt="foto" />
        <hr />
        <p>Product</p>
        <h3>$240000</h3>
      </div>
      <div class="product-card">
        <img src="" alt="foto" />
        <hr />
        <p>Product</p>
        <h3>$240000</h3>
      </div>
      <div class="product-card">
        <img src="" alt="foto" />
        <hr />
        <p>Product</p>
        <h3>$240000</h3>
      </div>
      <div class="product-card">
        <img src="" alt="foto" />
        <hr />
        <p>Product</p>
        <h3>$240000</h3>
      </div>
      <div class="product-card">
        <img src="" alt="foto" />
        <hr />
        <p>Product</p>
        <h3>$240000</h3>
      </div>
      <div class="product-card">
        <img src="" alt="foto" />
        <hr />
        <p>Product</p>
        <h3>$240000</h3>
      </div>
      <div class="product-card">
        <img src="" alt="foto" />
        <hr />
        <p>Product</p>
        <h3>$240000</h3>
      </div>
      <div class="product-card">
        <img src="" alt="foto" />
        <hr />
        <p>Product</p>
        <h3>$240000</h3>
      </div>
      <div class="product-card">
        <img src="" alt="foto" />
        <hr />
        <p>Product</p>
        <h3>$240000</h3>
      </div>
      <div class="product-card">
        <img src="" alt="foto" />
        <hr />
        <p>Product</p>
        <h3>$240000</h3>
      </div>
      <div class="product-card">
        <img src="" alt="foto" />
        <hr />
        <p>Product</p>
        <h3>$240000</h3>
      </div>
  </div>
</div>
