

img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.images{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1em;
    height: 90vh;
}

.principal{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    grid-row: 1/4;
    grid-column: 1/2;
}

.secondary{
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
    grid-column: 1/4;
    gap: 1em;
}