* {
  margin: 0;
  padding: 0;
}

.home {
  display: grid;
  grid-template-rows: 0.3fr repeat(4, 1fr);
  row-gap: 2em;
}

.container-categories {
  grid-row: 2/3;
}

.most-selled {
  grid-row: 3/4;
}

.most-selled .title {
  display: flex;
  flex-direction: column;
}

.most-selled .title hr {
  margin-top: 4px;
  border: 1px solid #a899ff;
  width: 30%;
}

.categories {
  background-color: #edebff;
  width: 100%;
  height: 14em;
  padding: 1em;
  border-radius: 7px;
}

.title {
  display: flex;
  align-items: center;
}

.title p {
  font-size: 24px;
  color: #a899ff;
}

.categories p {
  font-size: 20px;
  color: #595959;
}

hr {
  margin-top: 4px;
  border: 1px solid #595959;
  width: 60%;
}
