#home-page .app-container {
  margin-top: 20px;
}

.Categories {
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.Category {
  background-color: #EBDEF0;
  border-radius: 10px;
  padding: 40px 0;
  justify-content: space-between;
  color: #7D3C98;
  cursor: pointer;
  text-align: center;
  gap: 20px;
  display: flex;
  flex-direction: column;
  transition: 0.4s;
}

.Category:hover {
  transform: scale(1.1);
  color: #4A235A;
}