<div id="home-page">
  <div class="app-container">
    <div class="Categories">	
      <a class="Category" *ngFor="let category of categories" [href]="'/products/' + category.name">
        <div class="CategoryIcon">
          <i [class]="category.icon + ' fa-5x'"></i>
        </div>
        <div class="CategoryName">
          {{ category.name }}
        </div>
      </a>
    </div>
    <div class="button-title">
      <a href="/products">¿QUIERES CONOCER TODOS NUESTROS PRODUCTOS?</a>
    </div>
    <div class="title-section">
      <h2>PRODUCTOS MÁS VENDIDOS</h2>
    </div>
  </div>
</div>
