* {
  padding: 0;
  margin: 0;
  font-family: "Times New Roman";
}

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 1em;
  gap: 2em;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 2em;
  width: 100%;
}

a:active {
  background-color: #edebff;
  border-radius: 7px;
}

a {
  text-decoration: none;
  color: #a899ff;
  cursor: pointer;
  padding: 0.7em;
}

a:hover {
  background-color: #edebff;
  border-radius: 7px;
}

app-search-bar {
  align-self: center;
  justify-self: center;
}
