<div class="login">
  <div class="app-container top">
    <div class="title-section">
      <h2>Iniciar Sesión</h2>
    </div>
    <form #signupForm="ngForm" ngNativeValidate (ngSubmit)="login(signupForm)">

      <div class="credential mb-4">
        <label for="email" class="form-label">Correo electrónico</label>
        <input name="email" class="form-control" type="email" [(ngModel)]="client.email" required maxlength="150" [(ngModel)]="client.email"  />
      </div>

      <div class="credential mb-4">
        <label for="password" class="form-label">Contraseña</label>
        <input name="password" class="form-control" type="password" required minlength="7" maxlength="50" [(ngModel)]="client.password"  />
      </div>


      <div class="row mb-4 text-center">
        <a href="/password-recover">¿Has olvidalo la contraseña?</a>
      </div>

      <button type="submit" class="btn btn-primary btn-block mb-4">Ingresar</button>

      <div class="text-center">
        <p>¿Eres un nuevo usuario? <a href="/signup">Registrarse</a></p>
      </div>

    </form>
  </div>
</div>