.AdminProductsNav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px 0;
}

.AdminProductsNav a {
    color: #9166a1;
    padding: 5px 10px;
    border-radius: 0.5rem;
    transition: 0.4s;
}

.AdminProductsNav a:hover {
    color: white;
    background-color: #8a579e;
}