<div class="signup">
  <div class="app-container top">
    <div class="title-section">
      <h2>Registrarse</h2>
    </div>
    <form #signupForm="ngForm" ngNativeValidate (ngSubmit)="register(signupForm)">

      <div class="form-content">
        <div class="credential mb-2">
          <label for="name" class="form-label">Nombre</label>
          <input type="text" class="form-control" name="name" required maxlength="100" [(ngModel)]="client.name" />
        </div>
  
        <div class="credential mb-2">
          <label for="lastname" class="form-label">Apellido</label>
          <input type="text" class="form-control" name="lastname" required maxlength="100" [(ngModel)]="client.lastname" />
        </div>
  
        <div class="detail email">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" name="email" required maxlength="150" [(ngModel)]="client.email" />
        </div>
  
        <div class="detail address">
          <label for="address" class="form-label">Dirección</label>
          <input type="text" class="form-control" name="address" required maxlength="100" [(ngModel)]="client.address" />
        </div>
  
        <div class="detail phone">
          <label for="phone" class="form-label">Teléfono</label>
          <input type="text" class="form-control" name="phone" required maxlength="12" [(ngModel)]="client.phone" />
        </div>
  
        <div class="detail password">
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" class="form-control" name="password" required minlength="7" maxlength="50" [(ngModel)]="client.password" />
        </div>
  
        <div class="detail repeatPassword">
          <label for="repeatPassword" class="form-label">Repetir contraseña</label>
          <input type="password" class="form-control" name="repeatPassword" required minlength="7" maxlength="50"
            [(ngModel)]="client.repeatPassword" />
        </div>
      </div>

      <button type="submit" class="btn btn-primary btn-block mb-4">Registrarse</button>

      <div class="text-center">
        <p>¿Eres un usuario antiguo? <a href="/login">Iniciar Sesión</a></p>
      </div>

    </form>
  </div>
</div>