button {
    width: 100%;
}

form {
    max-width: 700px;
    margin: auto;
}

.form-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 40px 0;
}

.detail.email {
    grid-column: 1 / 3;
}