* {
  padding: 0;
  margin: 0;
  font-family: "Poppins-Medium";
}

.container {
  overflow: hidden;
}

.title {
  display: flex;
  align-items: center;
  padding: 2em;
  background-color: #edebff;
  width: 100%;
  border-radius: 5px;
}

h2 {
  font-size: 40px;
}

.favorite-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0;
  padding: 0.7em;
  gap: 3em;
  margin-top: 2em;
  width: 100%;
  overflow-y: auto;
}


